#footer-holder{
    font-size: 1.4em;
    text-align: center;
    color:black;
    margin-top:40%;
    margin-bottom:0%;
    font-family: 'Merienda One', sans-serif;
    font-weight: bold;
    border:hidden;
      
    
}


