<!-- START LOGIN CONTENT -->
<section id="viewLogin">
    <h1 class="theMonkiesAteMySoul" style="color: #c0a16b">
      <b>Login</b>
    </h1>
    <h4 class="theMonkiesAteMySoul" style="color: #c0a16b">
      <b>Use a local account to log in</b>
    </h4>
    <hr>
    <br>
    <br>
    <!-- START FORM -->
    <div class="login-form-1"  >
      <div id="login-form" class="text-left">
        <div class="main-login-form">
          <form [formGroup]="reactiveForm">
            <!-- <div class="alert" *ngIf="loginFail">
              {{loginAlert}}
            </div> -->
            <div class="form-container">  
              <!--Email-->
              <div class="alert" *ngIf="!reactiveForm.controls['email'].valid && reactiveForm.controls['email'].touched">
                {{formAlert}}
            </div>
            <div class="form-group">
              <input type="text" placeholder="email" formControlName="email">
            </div>
  
              <!--Password-->
              <div class="alert" *ngIf="!reactiveForm.controls['password'].valid && reactiveForm.controls['password'].touched">
                  {{formAlert}}
              </div>
              <div class="form-group">
                <input type="password"  placeholder="password" formControlName="password">
              </div>
  
              <!-- <label for="validCheckbox"> Min of 3 chars</label>
              <input type="checkbox" name="validCheckbox" formControllName="validCheckbox" value="1">On -->
  
              <!--Button GO-->
              <div class="form-group">
                <input type="submit" class="login-button" value="GO" [disabled]="!reactiveForm.valid"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END FORM -->
      
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    
    <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
  </section>
  <!-- END LOGIN CONTENT -->
    