<div class="row"> 
  <div *ngFor="let recipe of recipes" >
    <div class="col-xs-8">
      <div class="polaroid">           
          <h3>{{recipe.Title}}</h3>
          <img src="{{recipe.ImgSrc}}" alt="" />    
          <br>      
          <br>
      </div>
    </div> 
    <div class="col-xs-4">
      <div class="polaroid"> 
          <p>{{recipe.Description}}</p>
          <br>      
          <br>
          <p>Author: {{recipe.Author}}</p>
          <p>Recipe ID: {{recipe.Id}}</p>
      </div>
    </div>        
  </div>
</div>