body, html {
  height: 100%;
}

.bg {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index:-1;
=======

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> 9d5619f5451d873a05fd1bbd283e0d8ff48b8fc8
}
